 <div class='paper'>
    <h3><%= link_to paper.title, paper %> - <%= paper.authors %></h3>
    <i>Url:</i><%== auto_link(paper.url) %><br/>
    <i>Slug:</i><%= paper.slug %><br/>
    <i>Abstract:</i><%= paper.abstract %><br/>
    <i>Description:</i><%= paper.short %><br/>
    <br/>
    <b>Tags:</b><br/>
    <%= paper.tag_list %><br/>
    <br/>
    <%= link_to 'E', edit_paper_path(paper) %>
    <%= link_to 'X', paper, :confirm => '', :method => :delete %>
  </div>

