<div id="left">
  <h2>Tags</h2>
  <h3><%= tag_counts %></h3>
</div>
<div id="main">
  <h2>Papers</h1>  
  <% @papers.each do |paper| %>
    <div class='paper'>
      <h3><%= paper.title %> - <%= paper.authors %></h3>
      <i>Url:</i><%== auto_link(paper.url) %><br/>
      <i>Slug:</i><%= paper.slug %><br/>
      <i>Abstract:</i><%= paper.abstract %><br/>
      <i>Description:</i><%= paper.short %><br/>
      <br/>
      <b>Tags:</b><br/>
      <%= paper.tag_list %><br/>
      <br/>
      <%= link_to 'E', edit_paper_path(paper) %>
      <%= link_to 'X', paper, :confirm => 'Dude, really? This is a demo, delete is turned off.', :method => :delete %>
    </div>
  <% end %>
</div>

